#body-a {
	color: silver;
	background: black;
	text-align: center;
}

#body-b {
	color: silver;
	background: black;
	text-align: center;
}

#body-c {
	background-image: url("jam_project_live.jpg");
	color: blue;
	font-weight: bold;
}

#header {
	background-color: silver;
}

h1, h3, footer {
	color: red;
	font-family: "Georgia";	
	text-align: center;
}

#navi {
	background-color: silver;
}


#members {
	list-style-position: inside;
	text-align: center;
}

.red {
	color: red;
}

p::first-letter {
    color: 	red;

}


img {
	display: block;
	margin: auto;
	padding: 1px;
	border: 1px solid red;
	width: 1100px;
}

#music-table {
    margin: 0 auto;
    color: white;
    font-weight: bold;
}

a:visited {
    color: blue;
}
