#body-a {
	color: silver;
	background: black;
	text-align: center;
}

#body-b {
	color: silver;
	background: black;
	text-align: center;
}

#body-c {
	background-image: url("jam_project_live.jpg");
	color: blue;
	font-weight: bold;
}

#header {
	background-color: silver;
}

#welcome, #mission {
	font-family: "Papyrus";
}

h1, h3, footer {
	color: red;
	font-family: "Georgia";	
	text-align: center;
}

#navi {
	background-color: silver;
}


#members {
	list-style-position: inside;
	text-align: center;
	font-family: "Papyrus";
}

.red {
	color: red;
}

.blue {
	color: blue;
}

p::first-letter {
    color: 	red;

}


img {
	display: block;
	margin: auto;
	padding: 1px;
	border: 1px solid red;
	width: 1100px;
}

#music-table {
    margin: 0 auto;
    color: red;
    font-weight: bold;
    background-color: black;
}
a:link {
	color: red;
} 

a:visited {
    color: blue;
}

a:hover{
	color: maroon;
}

@media screen and (max-width: 500px) {
  img {
    width: 50%;
  }

@media screen and (max-width: 500px) {
  body { font-size: 0.7em; 
  }
