body {
	color: silver;
	background: black;
	text-align: center;
}

#header {
	background-color: silver;
}

h1, h3, footer {
	color: red;
	font-family: "Georgia";	
}

#navi {
	background-color: silver;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

p::first-letter {
    color: 	red;

}


img {
	display: block;
	margin: auto;
	padding: 1px;
	border: 1px solid red;
	width: 1100px;
}

table {
    margin: 0 auto;
}

a:visited {
    color: blue;
}
